/* 
active 1 02 ~ 06 #0c0075, #0b1025
active 2 06 ~ 10 #1f58b6, #061737
active 3 10 ~ 14 #fab543, #6d3d03
active 4 14 ~ 18 #fa8c43, #242b10
active 5 18 ~ 22 #93ae36, #102b25
active 6 22 ~ 02 #20779c, #1f062d
*/

/********************** Global *********************/




/********************** Wrapper *********************/
.bg-wrapper {position: relative; width: 100%; height: 100vh; overflow: hidden;}
.bg-wrapper.active1 {background-image: linear-gradient(#0c0075, #0b1025);}
.bg-wrapper.active2 {background-image: linear-gradient(#1f58b6, #6e3608);}
.bg-wrapper.active3 {background-image: linear-gradient(#ffcb78, #ad4b0a);}
.bg-wrapper.active4 {background-image: linear-gradient(#fa8c43, #242b10);}
.bg-wrapper.active5 {background-image: linear-gradient(#3688ae, #102b25);}
.bg-wrapper.active6 {background-image: linear-gradient(#0a2f69, #220433);}

.bg-wrap {background-repeat: no-repeat; opacity: .3; background-size: 100% auto; position: absolute; color: #fff;}
.bg-wrap.bg1 {top: 16px; right: 16px; width: 200px; font-size: 200px; opacity: .2;}
.bg-wrap.bg2 {bottom: 80px; left: -120px; width: 250px; font-size: 250px;  opacity: .1;}
.bg-wrap.bg3 {bottom: -30px; right: 30%; width: 180px; font-size: 180px;  opacity: .05;}


.stage-wrapper {position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%;}
.wrapper {max-width: 1168px; margin: auto; border: 5px solid red; position: relative;}


/********************** Header *********************/



/********************** Map *********************/



/********************** Weather *********************/



/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	.wrapper {width: calc(100% - 32px); margin: 0 16px;}
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	.bg-wrap.bg1 {top: 16px; right: 16px; width: 150px; font-size: 150px; opacity: .5;}
	.bg-wrap.bg2 {bottom: 80px; left: -40px; width: 120px; font-size: 120px;  opacity: .1;}
	.bg-wrap.bg3 {bottom: -10px; right: 10%; width: 80px; font-size: 80px;  opacity: .05;}
}

@media (max-width: 575px) {
	
}